{% extends "base.html.twig" %}

{% block title %}Contact{% endblock %}

{% block body %}

    <div class="container col-3">

        <h2>Contactez nous</h2>
        <div class="card-body">
                    {{ form_start(form) }} 

                    {{ form_widget(form) }}

                    <button class="btn btn-primary mt-3" type="submit"> envoyer </button>

                    {{ form_end(form) }}
        </div>

    </div>
        

{% endblock %}

